<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 1 - HTML</title>
</head>

<body>
    <img src="\CSS\images\html.png" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit rerum ea aperiam voluptas doloremque ullam
        harum sequi provident quos dolores, in deserunt quasi odit! Laborum mollitia voluptates magni aut iusto
        reiciendis vero, eaque consequuntur dicta! Doloremque ratione animi asperiores fugiat!
    </p>
    <ul>
        <li>home</li>
        <li>about</li>
        <li>course</li>
        <li>services</li>
    </ul>


</body>

</html>